/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

@import url('components/card.css');
@import url('components/footer.css');
@import url('components/rules.css');
@import url('components/banner.css');
@import url('components/navbar.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background: rgb(61, 68, 144);
  display: block;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

a {
  text-decoration: none;
}

/* Custom design below! */
